:root[color-theme='light'] {
  --background: #fff;
  --boxColor: #000;
}

:root[color-theme='dark'] {
  --background: #000;
  --boxColor: #fff;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--boxColor);
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-check {
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-right: 400px;
  border: 1px solid var(--boxColor);
  width: 100px;
  display: flex;
  align-items: center;
}

.dark-mode {
  cursor: pointer;
}

.input-todo {
  width: 400px;
  border: 0;
  border-bottom: 1px solid var(--boxColor);
}

.todos {
  width: 400px;
  border: 1px solid var(--boxColor);
  border-radius: 5px;
  padding: 20px;
}

.remove-todo {
  cursor: pointer;
}
